# Trained Model
mask_detector.keras
mask_detector.h5
face-mask-dataset/
model_artifacts_*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Virtual environments
.venv/
env/
venv/
testenv/
faceMaskEnv/
.faceMaskEnv/

# IDE configs
.idea/
.vscode/

# OS junk
*.swp
*.swo
*.log

# Streamlit
.idea/

# Documenting the challenges faced
challenges.txt