# Trained Model & Dataset
mask_detector.keras
mask_detector.h5
mask_detector_v1.h5
face-mask-dataset/

# Trained Model checkpoints
model_artifacts_*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Virtual environments
.venv/
env/
venv/
testenv/
.faceMaskEnv/

# IDE configs
.idea/
.vscode/

# OS junk
*.swp
*.swo
*.log

# Streamlit
.idea/

# Documenting the challenges faced
utils/challenges.txt

# Keep .streamlit/config.toml but ignore certificates
.streamlit/*.pem

# SSL certificates for local development
.ssl/